<section class="experiences" id="experiences">
	<div class="experiences__title">
		<h1>Expériences professionnelles et associatives</h1>
	</div>
	<div class="collaps" id="collapsContainer">
		<div class="collaps__header" id="collapsHeader">
			<ul>
				<li class="collaps__title">
					<button class="h2">Informatique</button>
					<div class="collaps__content" id="1">
						<ul class="collaps__content-text">
							<li class="list">
								<p class="h5 bold">
									2021/2022 :
									<a href="https://mycater.fr/" target="_blank">MyCater</a>,
									<span class="h5 normal"> Bordeaux</span>
								</p>
								<p class="f18">
									Deux stages d'un mois en tant que
									<span class="bold">Développeur web</span>
								</p>
								<button type="button" class="openPopup">
									<span class="sr-only">
										En savoir plus de mon expérience à MyCater
									</span>
								</button>
								<div class="popup">
									<ul>
										<li>
											<p>
												Stage pratique dans le cadre de la formation "
												<a
													href="http://site-informatique.info/tronccommun/"
													target="_blank"
													>Développeur web
												</a>" à
												<a
													href="https://3wa.fr/formations/formation-developpeur-web/une-formation-developpeur-web-junior/"
													target="_blank"
													>
													3WA
												</a> et d'une formation de préqualification. 
											</p>
										</li>
										<li>
											<p>
												Travail autour de l'accessibilité du site internet en
												intégrant des mesures pour l'UX Design.
											</p>
										</li>
										<li>
											<p>
												Intégrations de nouvelles fonctionnalités utilisateurs
												en JavaScript.
											</p>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</li>
				<li class="collaps__title">
					<button class="h2">Travail social</button>
					<div class="collaps__content" id="2">
						<ul class="collaps__content-text">
							<li class="list">
								<p class="h5 bold">
									Novembre 2018 à Mars 2020 : CHU de Bordeaux
								</p>
								<ul>
									<li class='CHU'>
										<p class="f18 bold">Assistant de service social</p>
										<button type="button" class="openPopup">
											<span class="sr-only">
												En savoir plus de mon expérience d'assistant de service
												social au CHU de Bordeaux
											</span>
										</button>
										<div class="popup">
											<ul>
												<li>
													<p>
														Assistant de service social au sein des services
														d'unité médico-légale (CAUVA), de l'hôpital des
														enfants et de la maternité du CHU de Bordeaux
														(Centre Aliénor d'Aquitaine).
													</p>
												</li>
												<li>
													<p>
														Évaluation des situations de personnes victimes de
														violences conjugales et intrafamiliales, des enfants
														victimes de violences et/ou de maltraitances.
													</p>
												</li>
												<li>
													<p>
														Évaluation des situations de femmes souhaitant
														abandonner leurs enfants et les confier à
														l'adoption.
													</p>
												</li>
											</ul>
										</div>
									</li>
									<li>
										<p class="f18 bold">
											Faisant fonction de cadre socio-éducatif
										</p>
										<button type="button" class="openPopup">
											<span class="sr-only">
												En savoir plus de mon expérience d'assistant de service
												social au CHU de Bordeaux
											</span>
										</button>
										<div class="popup">
											<ul>
												<li>
													<p>
														Faisant fonction de Cadre socio-éducatif sur une
														mission intérimaire de cinq mois, de
														<span class="bold">Mai 2019</span> à
														<span class="bold">Septembre 2019</span>.
													</p>
												</li>
												<li>
													<p>
														Encadrement des assistants socio-éducatifs du Groupe
														Hospitalier Pellegrin.
													</p>
												</li>
												<li>
													<p>
														Participation à la réorganisation du Service Social
														Hospitalier
													</p>
												</li>
												<li>
													<p>Validation des écrits professionnels.</p>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</li>
							<li>
								<p class="h5 bold">
									Mai 2016 à Juillet 2018 :
									<a href="http://arc-ea.org/" target="_blank">ARC-EA</a>
									(anciennement ARC 75)<span class="h5 normal">, Paris</span>
								</p>
								<p class="f18 bold">
									Éducateur de rue,
									<span class="normal"
										>faisant fonction d'éducateur spécialisé</span>
								</p>
								<button type="button" class="openPopup">
									<span class="sr-only">
										En savoir plus de mon expérience d'éducateur spécialisé à
										ARC-EA
									</span>
								</button>
								<div class="popup">
									<ul>
										<li>
											<p>
												Éducateur "de rue" auprès de jeunes de 12 à 25 ans d'un
												quartier dit sensible du XV<sup>ème</sup> arrondissement
												de Paris.
											</p>
										</li>
										<li>
											<p>
												Accompagnement socio-éducatif des adolescents et jeunes
												adultes, sur les champs l'insertion scolaire,
												l'insertion professionnelle et réinsertion après une
												sanction judiciaire.
											</p>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<p class="h5 bold">
									Assistant de service social en polyvalence de secteur.
								</p>
								<ul>
									<li>
										<p class="f18 bold">
											Septembre 2014 à Novembre 2015 : Département de l'Essonne
										</p>
									</li>
									<li>
										<p class="f18 bold">
											Avril 2013 à Septembre 2014 : Département de Paris
										</p>
									</li>
									<li>
										<p class="f18 bold">
											Août 2012 à Février 2013 : Département du Val de Marne
										</p>
									</li>
								</ul>
								<button type="button" class="openPopup top">
									<span class="sr-only">
										En savoir plus de mon expérience d'assistant de service
										social en polyvalence de secteur
									</span>
								</button>
								<div class="popup">
									<ul>
										<li>
											<p>
												Assistant de service social en polyvalence de secteur,
												auprès des habitants.
											</p>
										</li>
										<li>
											<p>Accompagnement social des familles.</p>
											<p>
												Accompagnement des personnes victimes de violences
												conjugales.
											</p>
										</li>
										<li>
											<p>
												Évaluation des informations préoccupantes concernant des
												enfants en danger ou en risque de l'être.
											</p>
										</li>
										<li>
											<p>
												Évaluation des situations sociales des personnes dites
												vulnérables
											</p>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</li>
				<li class="collaps__title">
					<button class="h2">Travail en libéral</button>
					<div class="collaps__content" id="3">
						<ul class="collaps-text">
							<li>
								<p class="h5 bold">
									Depuis septembre 2021 : Formateur en travail social
								<span class="normal">, France entière</span>
								</p>
								<button type="button" class="openPopup">
									<span class="sr-only">
										En savoir plus de mon activité de formateur
									</span>
								</button>
								<div class="popup">
									<ul>
										<li>
											<p>
												Intervenant sur le champ de l'éthique en travail social,
												de la protection de l'enfance et des violences
												conjugales et intrafamiliales.
											</p>
										</li>
										<li>
											<p>
												Intervensions en prestations auprès de centres de
												formations initiale ou continue de travailleurs sociaux,
												médico-sociaux, paramédicaux, ou autres professionnelles
												travaillant autour de l'enfance et du couple.
											</p>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<p class="h5 bold">Depuis Juin 2020 : Moniteur de portage</p>
								<button type="button" class="openPopup">
									<span class="sr-only">
										En savoir plus de mon activité de formateur de portage
									</span>
								</button>
								<div class="popup">
									<ul>
										<li>
											<p>
												Accompagnement des parents ou futurs parents dans les
												techniques de portages de leurs enfants ou futurs
												enfants en écharpe de portage ou portes-bébés préformés
											</p>
										</li>
										<li>
											<p>
												Conseils auprès de professionnels de la petite enfance
												sur les techniques de portage.
											</p>
										</li>
										<li>
											<p>
												Intervention auprès des futurs moniteurs et monitrices
												de portage sur la notion du portage et du handicap
											</p>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</li>
				<li class="collaps__title">
					<button class="h2">Bénévolat</button>
					<div class="collaps__content" id="4">
						<ul class="collaps__content-text">
							<li>
								<p class="h5 bold">
									Depuis septembre 2021 : 
									<a href="https://www.associationlespapillons.org/" target="_blank">
										Association Les Papillons
									</a>
									<span class="normal">, Gironde</span>
								</p>
							</li>
							<li>
								<p class="h5 bold">
									Depuis 2013 : 
									<a href="https://handiparentalite.org/" target="_blank">
										Association HandiParentalité
								</p>
								<button type="button" class="openPopup">
									<span class="sr-only">
										En savoir plus de mon activité de bénévole à l'association HandiParentalité
									</span>
								</button>
								<div class="popup">
									<ul>
							<li>
								<p>Pair-aidant auprès de parents ou futurs parents en situation de handicap visuel.</p>
							</li>
							<li>
								<p>Participation aux colloques sur le handicap et la parentalité.</p>
							</li>
							<li>
								<p>Participations aux comités de pilotages organisés par les institutions publiques sur le champ du handicap et de la parentalité.</p>
							</li>
							<li>
								<p>Soutien au fonctionnement administratif de l'association.</p>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>	
	</div>
</section>
