<section class="home" id="home" name="home">
	<div class="home__header" id="homeHeader">
		<div class="home__title" id="homeTitle">
			<h1>Bienvenue</h1>
		</div>
		<div class="home__banner"></div>
	</div>
	<div class="home__body" id="homeBody">
		<div class="presentation" id="presentation">
			<div class="presentation__title" id="presentationTitle">
				<h2>Présentation</h2>
			</div>
			<div class="presentation__content">
				<p>
					Habitant dans la métropole de Bordeaux, âgé de 33 ans, je suis marié
					avec deux enfants.
				</p>
			</div>
			<div class="presentation__content" id="transport">
				<p>
					Malvoyant, dépourvu du permis B par impossibilité technique, je n'ai
					pas de véhicule personnel jusqu'à l'avènement des véhicules autonomes.
					Je me déplace uniquement en transports en commun accompagné d'un
					chien-guide d'aveugle.
				</p>
			</div>
			<div class="presentation__content" id="professional">
				<p>
					Avec un parcours professionnel riche, j'ai acquis, depuis le plus
					jeune âge, une <span class="bold">capacité d'adaptation</span> m'ayant
					permis de développer mes compétences en me formant régulièrement de
					manière <span class="bold">autodidacte</span>.
				</p>
				<p>
					<span class="bold">Persévérant</span> de nature, je fais preuve d'un
					<span class="bod">esprit de rigueur</span> m'amenant à chercher une
					solution à un problème.
				</p>
			</div>
			<div class="presentation__content" id="conversion">
				<p>
					Passionné par l'informatique mais aussi par la question sociale depuis
					mon adolescence, je me suis orienté dans les métiers de
					l'accompagnement social. Je suis devenu assistant social en 2012, et
					je me suis spécialisé sur les champs de la protection de l'enfance et
					des violences conjugales durant mes huit ans de carrière.
				</p>
				<p>
					La nécessité du permis de conduire pour pouvoir continuer à travailler
					dans ce domaine m'ont poussé à entamer une reconversion
					professionnelle. C'est donc tout naturellement que je me forme dans le
					développement web et dans la maintenance de systèmes informatiques
					basés sur Debian ou Windows.
				</p>
				<p>
					Néanmoins, souhaitant garder un pied dans le milieu du travail social,
					et étant engagé sur les champs de la protection de l'enfance et des
					violences conjugales, je suis devenu formateur indépendant auprès de
					quelques centres de formations.
				</p>
			</div>
		</div>
	</div>
	<div class="about-me" id="aboutMe">
		<div class="hobbies" id="hobbies" aria-label="centres d'intérêts">
			<div class="hobbies__title">
				<h3>Centres d'intérêts</h3>
			</div>
			<div class="hobbies__content">
				<p><span class="bold">Domotiques et objets connectés</span></p>
				<p><span class="bold">Innovations high-tech</span></p>
				<p><span class="bold">Jeux-vidéos</span></p>
			</div>
		</div>

		<div class="others" id="others" aria-label="Voyages">
			<div class="others__title">
				<h3>Loisirs</h3>
			</div>
			<div class="others__content">
				<p>
					<span class="bold">Marche</span>,
					<span class="bold">randonnées</span>,
					<span class="bold">vélo </span>
				</p>
				<p><span class="bold"> Lecture </span>de romans et d'essais</p>
				<p>
					<span class="bold"> Écriture d'articles</span> de blog sur des sujets
					sociétaux
				</p>
			</div>
		</div>
		<div class="voyages" id="voyages" aria-label="Voyages">
			<div class="voyages__title">
				<h3>Voyages</h3>
			</div>
			<div class="voyages__content">
				<p><span class="bold">Tunisie</span></p>
				<p><span class="bold">Espagne</span></p>
				<p><span class="bold">Maroc</span></p>
			</div>
		</div>
	</div>
</section>
