<h1>Mentions légales</h1>
<p>
	Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du
	21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il
	est porté à la connaissance des utilisateurs et visiteurs, ci-après
	<strong>l""Utilisateur"</strong>, du site
	<a href="https://f-nour.github.io/cv/" target="_blank"
		>https://f-nour.github.io/cv/</a
	>, ci-après le <strong>"Site"</strong>, les présentes mentions légales
	valables à partir du <strong>vendredi 4 novembre 2021</strong>.
</p>
<p>
	La connexion et la navigation sur le Site par l’Utilisateur implique
	acceptation intégrale et sans réserve des présentes mentions légales.
</p>
<p>
	Ces dernières sont accessibles sur le Site à la rubrique «
	<a href="legal.html">Mentions légales</a> ».
</p>
<h2>ARTICLE 1 - L'EDITEUR</h2>
<p>
	L’édition et la direction de la publication du Site est assurée par
	Nour-eddine, domicilié à Bègles, et l'adresse e-mail
	<a href="mailto:fattoumne@protonmail.com">fattoumne@protonmail.com</a>.
</p>
<p>ci-après l'<strong>"Editeur"</strong>.</p>
<h2>ARTICLE 2 - L'HEBERGEUR</h2>
<p>L'hébergeur du Site est la société Github.</p>
<h2>ARTICLE 3 - ACCES AU SITE</h2>
<p>
	Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force
	majeure, interruption programmée ou non et pouvant découlant d’une nécessité
	de maintenance.
</p>
<p>
	En cas de modification, interruption ou suspension du Site, l'Editeur ne
	saurait être tenu responsable.
</p>
<h2>ARTICLE 4 - COLLECTE DES DONNEES</h2>
<p>
	Le site est exempté de déclaration à la Commission Nationale Informatique et
	Libertés (CNIL) dans la mesure où il ne collecte aucune donnée concernant les
	utilisateurs.
</p>
<p>
	Toute utilisation, reproduction, diffusion, commercialisation, modification de
	toute ou partie du Site﻿, sans autorisation de l’Editeur est prohibée et
	pourra entraînée des actions et poursuites judiciaires telles que notamment
	prévues par le Code de la propriété intellectuelle et le Code civil.
</p>
<h2>ARTICLE 5 - OUTILS DE CRÉATION</h2>
<p>
	Ce site web a été édité à l'aide des logiciels Notepad++ sous Windows 10 et de
	l'IDE Visual Studio Code sous Ubuntu 21.10.
</p>
<p>
	Ce site a été rendu accessibles grâce aux notices du site
	<a href="https://www.accede-web.com/" target="_blank">AcceDe Web</a>. Il a été
	testé en direct sur Iphone, avec Safari et le lecteur d'écran VoiceOver.<br />
	D'autres tutos sur internet ont pu être utilisés, notamment pour configurer le
	style CSS, grâce, principamelemtn, au site
	<a href="https://www.alsacreations.com/tutoriels/" target="_blank"
		>AlsaCréation</a
	>. Le site
	<a href="https://www.w3schools.com/" target="_blank">W3Schools</a> a également
	été utilisé comme aide à la compréhension du code.<br />
	L'ensemble du code a été vérifié via
	<a href="https://validator.w3.org/" target="_blank"
		>The W3C Markup Validation Service</a
	>, mais également grâce aux outils de vérifications de
	<a href="http://github.com/" target="_blank">GitHub</a> et à des extensions de
	Visual Studio Code.
</p>
