<section class="projects" id="projects">
	<div class="projects__header" id="projectsHeader">
		<h1>Projets</h1>
	</div>
	<div class="projects_body" id="projectsBody">
		<div class="projects-list" id="projectsDone" data-elToShow="3">
			<h2>Mes projets aboutis</h2>
			<ul>
				<li class="projects-done1" id="projectsDone1">
					<div class="projects-done1__header" id="projectsDone1Header">
						<h3>Mon portfolio</h3>
					</div>
					<div class="projects-done1__body" id="projectsDone1Body"></div>
				</li>
			</ul>
		</div>
		<div class="projects-list" id="projectsDone" data-elToShow="3">
			<h2>Mes codePens</h2>
			<ul>
				<li class="projects-codePen1" id="projectsCodePen1">
					<div class="projects-codePen1__header" id="projectsCodePen1Header">
						<h3>Mon portfolio</h3>
					</div>
					<div class="projects-codePen1__body" id="projectsCodePen1Body"></div>
				</li>
			</ul>
		</div>
		<div class="projects-list" id="projectsInProgress" data-elToShow="3">
			<h2>Mes projets aboutis</h2>
			<ul>
				<li class="projects-inProgress1" id="projectsInProgress1">
					<div
						class="projects-inProgress1__header"
						id="projectsInProgress1Header"
					>
						<h3>Le Web à l'aveugle</h3>
					</div>
					<div
						class="projects-inProgress1__body"
						id="projectsInProgress1Body"
					></div>
				</li>
			</ul>
		</div>
	</div>
</section>
