<section class="skills" id="skills">
	<div class="skills__title">
		<h1>Compétences</h1>
	</div>
	<div class="collaps" id="collapsContainer">
		<div class="collaps__img" aria-hidden="true">
			<div class="skills_img">
				<div class="skills_img-content">
					<img src="src/img/logo/markdown.svg" alt="MarkDown">
					<img src="src/img/logo/html.png" alt="html">
					<img src="src/img/logo/css.png" alt="css">
					<img src="src/img/logo/sass.svg" alt="SASS">
					<img src="src/img/logo/js.png" alt="js">
					<img src="src/img/logo/typescript.png" alt="TypeScript">
					<img src="src/img/logo/php.png" alt="php">
					<img src="src/img/logo/mysql.png" alt="mySQL">
				</div>
				<div class="skills_img-content">
					<img src="src/img/logo/nodeJS.svg" alt="NodeJS">
					<img src="src/img/logo/composer.svg" alt="composer" />
					<img src="src/img/logo/webpack.png" alt="webpack" />
					<img src="src/img/logo/bootstrap.png" alt="BootStrap">
					<img src="src/img/logo/React.png" alt="React">
					<img src="src/img/logo/symfony.svg" alt="Symfony" />
					<img src="src/img/logo/adonis.svg" alt="AdonisJs" />

				</div>
				<div class="skills_img-content">
					<img src="src/img/logo/notable.png" alt="Notable">
					<img src="src/img/logo/vsc.png" alt="Visual Studio Code">
					<img src="src/img/logo/phpstorm.svg" alt="PHP Storm" />
					<img src="src/img/logo/Git.png" alt="Git">
					<img src="src/img/logo/xampp.png" alt="Xampp">
					<img src="src/img/logo/wp.png" alt="WordPress">
				</div>
			</div>
		</div>
		<div class="collaps__header" id="collapsHeader">
			<ul>
				<li class="collaps__title">
					<button class="h2"
						>Outil informatique
					</button>
					<div class="collaps__content" id="1">
						<ul class="collaps__content-text">
							<li>
								<p>
								Utilisation des outils d'accessibilité sur informatique (<a
									href="https://www.freedomscientific.com/products/software/jaws/"
									target="_blank">Jaws</a>, <a href="https://nvda-fr.org/" target="_blank">NVDA</a>,
								<a
									href="https://www.freedomscientific.com/products/software/zoomtext/"
									target="_blank">ZoomText</a>,
								<a href="https://wiki.gnome.org/Projects/Orca" target="_blank">Orca</a>...)
								</p>
							</li>
							<li>
								<p>
								Utilisation des outils d'accessibilité sur mobile (<a
									href="https://www.apple.com/fr/accessibility/vision/"
									target="_blank">VoiceOver</a>
								et
								<a
									href="https://support.google.com/accessibility/android/answer/6283677?hl=fr"
									target="_blank">TalkBack
								</a>
								)
								</p>
							</li>
								<li><span class="bold">Maitrîse des outils bureautiques</span></li>
						</ul>
					</div>
				</li>
				<li class="collaps__title">
					<button class="h2"
						>Développement web
					</button>
					<div class="collaps__content" id="2">
						<ul class="collaps__content-text">
							<li>
								<p>
								Utilisation de <span class="bold">Git</span> et
								<a href="https://github.com/" target="_blank">GitHub</a>
								</p>
							</li>
							<li>
								<p>
								Développement de sites web en
								<a href="https://www.w3schools.com/html/" target="_blank">HTML5</a>,
								<a href="https://www.w3schools.com/css/" target="_blank">CSS3</a>
								et
								<a href="https://www.javascript.com/" target="_blank">JavaScript</a>
								</p>
							</li>
							<li>
								<p>
								Notion de base en dévelopmement d'applications
								<a href="https://www.python.org/" target="_blank">Python</a>
								</p>
							</li>
							<li>
								<p>
								Notions en
								<a href="https://www.php.net/" target="_blank">script PHP</a>,
								<a href="https://www.apachefriends.org" target="_blank">XAMPP</a>
								et bases de données
								<a href="https://mariadb.org/" target="_blank">MariaDB</a>/<a
									href="https://www.mysql.com/"
									target="_blank">MYSQL</a></p>
							</li>
							<li>
								<p>
								Programmation à l'aide de
								<a href="https://code.visualstudio.com/" target="_blank">VSCode</a>
								pour Linux.
							</li>
							<li>
								<p>
								Utilisation du CMS
								<a href="https://wordpress.org/" target="_blank">WordPress</a>
							</p>
							</li>
						</ul>
				</li>
				<li class="collaps__title">
					<button class="h2"
						>Administration système
					</button>
					<div class="collaps__content" id="3">
						<ul class="collaps__content-text">
							<li>
								<p>
								<span class="bold">Maintenance préventive et curative des systèmes
									informatiques</span></p>
							</li>
							<li><p>
								Installation et gestion des systèmes mobiles
								<a href="https://www.apple.com/fr/ios/" target="_blank">IOS</a>
								et
								<a href="https://www.android.com/" target="_blank">Android</a>
							</p></li>
							<li><p>
								Installation, maintenance et gestion des systèmes
									<a
										href="https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/cmd"
										target="_blank">
										MAC-OS
									</a>
								</p>
							</li>
							<li><p>
								Installation en réseau, gestion fichiers, partitionnement des
								postes
								<a href="https://www.microsoft.com/windows/" target="_blank">Windows</a></p>
							</li>
							<li><p>
								Commandes de base et scripts
								<a
									href="https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/cmd"
									target="_blank">MS-DOS</a></p>
							</li>
							<li>
								<p>
								Installation, gestion fichiers, commandes de bases et scripts des
								postes
									<a href="https://www.debian.org/" target="_blank">
										Linux Debian (et variantes...
									</a>)
								</p>
							</li>
						</ul>
				</li>
				<li class="collaps__title">
					<button class="h2">
						Compétences transversales
					</button>
					<div class="collaps__content" id="4">
						<ul class="collaps__content-text">
							<li>
								<p>
								<span class="bold">Aptitudes à travailler en équipe</span> dans un
								esprit de bienveillance et d'entraide
							</p></li>
							<li><span class="bold">Bonnes capacités relationnelles</span></li>
							<li>
								<p>
								<span class="bold">Animations de réunions</span> d'équipes, de
								travail de groupe, de sessions de formations.
								</p>
							</li>
							<li>
								<p>
								<span class="bold">Utilisation des outils mdivtimédias</span> avec
								ou sans assistance vocale.
								</p>
							</li>
							<li><span class="bold">Bonnes capacités rédactionnelles</span></li>
						</ul>
				</li>
			</ul>
		</div>
		<div class="collaps__img">
			<div class="skills_img">
				<div class="skills_img-content">
					<img src="src/img/logo/jaws.jpg" alt="Jaws">
					<img src="src/img/logo/nvda.png" alt="NVDA">
					<img src="src/img/logo/orca.jpg" alt="Orca">
					<img src="src/img/logo/vo.png" alt="VoiceOver">
					<img src="src/img/logo/ga.png" alt="TalkBack">
				</div>
				<div class="skills_img-content">
					<img src="src/img/logo/mac-os.png" alt="Mac OS X">
					<img src="src/img/logo/debian.png" alt="Debian">
					<img src="src/img/logo/ubuntu.png" alt="Ubuntu">
					<img src="src/img/logo/windows.png" alt="Windows">
					<img src="src/img/logo/dos.png" alt="MS-DOS">
					<img src="src/img/logo/android.png" alt="Android">
					<img src="src/img/logo/ios.png" alt="iOS">
				</div>
			</div>
		</div>
	</div>
</section>
