<section class="trainings" id="trainings">
	<div class="trainings__title">
		<h1>Formations</h1>
	</div>
	<div class="collaps" id="collapsContainer">
		<div class="collaps__header" id="collapsHeader">
			<ul>
				<li class="collaps__title">
					<button class="h2"
						>Diplômes
					</button>
					<div class="collaps__content" id="1">
						<ul class="collaps__content-text">
							<li>
                <p class="f18 bold">
                  2012 : 
                  <a href="https://www.onisep.fr/Ressources/Univers-Formation/Formations/Post-bac/diplome-d-etat-d-assistant-de-service-social" target="_blank">
                    Diplôme d'État d'Assistant de service social (DEASS)</a> (bac+3)
                </p>
                <p>
                  <a href="https://www.ensparis.fr/" target="_blank">
                    École Normale Sociale</a>, Paris
                </p>
                <li>
                <p class="f18 bold">
                  2006 : Bac Sciences Techniques Tertiaires option Informatique de Gestion
                </p>
              <p>
                <span class="bold">Lycée Les Bruyères</span>, Sotteville-lès-Rouen
              </p></li>
              </li>
						</ul>
					</div>
				</li>
				<li class="collaps__title">
					<button class="h2"
						>Titres professionnels
					</button>
					<div class="collaps__content" id="2">
						<ul class="collaps__content-text">
							<li>
								<p class="f18 bold">
									(Bac+2)
									<a
										href="https://www.francecompetences.fr/recherche/rncp/31114/"
										target="_blank"
										>Développeur Web</a> en formation de février 2022 à août 2022
								</p>
								<p>
									<a
										href="https://3wa.fr/formations/formation-developpeur-web/une-formation-developpeur-web-junior/"
										target="_blank"
										>3W Accadémy</a>
									(Bordeaux)
								</p>
							</li>
						</ul>
					</div>
				</li>
				<!-- <li class="collaps__title">
					<a href="#3" class="h2"
						>Certifications
					</a>
					<div class="collaps__content" id="3">
						<ul class="collaps__content-text">
							<li></li>
						</ul>
					</div>
				</li> -->
				<li class="collaps__title">
					<button class="h2"
						>Formations qualifiantes
					</button>
					<div class="collaps__content" id="4">
						<ul class="collaps__content-text">
							<li>
                <p class="f18 bold">Avril 2016 : 
                  <a href="https://portersimplement.com/formations/formations-de-bases/" target="_blank">
                    Moniteur de portage</a>
                </p>
                <p><a href="https://portersimplement.com/" target="_blank">Porter, simplement</a> Brest</p>
              </li>
              <li>
                <p class="f18 bold">
                  Juin 2012: 
                  <a href="https://paris.croix-rouge.fr/formation/psc1" target="_blank">
                    Premiers secours Niveau 1</a>
                </p>
                <p><span class="bold">Croix Rouge Française</span>, Paris</p>
              </li>
						</ul>
					</div>
				</li>
				<li class="collaps__title">
					<button class="h2"
						>Formations continues
					</button>
					<div class="collaps__content" id="5">
						<ul class="collaps__content-text">
							<li>
                <p class="f18 bold">
                  2019 : Protection de l'enfance en milieu hospitalier
                </p>
                <p class='bold'>CHU de Bordeaux</p>
              </li>
              <li>
                <p class="f18 bold">
                  2016-2017 : <a href="http://s677655269.siteweb-initial.fr/formation/" target="_blank">
                    Adolescents difficiles</a>, "De la destruction à la créativité : la place de l'adulte référent"
                </p>
                <p>
                  <span class="bold">Les Équipes d'Amitié</span> associé à l'<span class="bold">Université Paris Diderot</span>
                </p>
              </li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
